/*body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff6b6b, #4ecdc4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    */



body {
    margin: 0;
    min-height: 100vh;
    /*background: linear-gradient(135deg, #ff6b6b, #4ecdc4);*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rockwell';
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.welcome-card {
    background: white ;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.group-title{
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    color: #888;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

h1 {
    margin: 0 0 1rem;
    color:  #ff6b6b;
    font-size: 2.2rem;
}

.description {
    color: grey;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    flex: 1;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

btn:hover {
    transform: translateY(-2px);

}

.btn-primary {
    background-color: #ff6b6b;
    color: white;
}

.btn-secondary {
    background-color: #ff6b6b;
    color: white
}